.course-tabs-navigation {
  position: relative;
  background-color: $c-course-tab-bg-color;
  border-top: 1px solid $c-course-tab-top-border-color;
  border-bottom: 1px solid $c-course-tab-bottom-border-color;
  transition: background-color $transition-time $transition-type;

  .nav a,
  .nav button {
    &:hover {
      background-color: $c-course-tab-bg-hover-color;
    }
  }

  .nav a {
    &:not(.active):hover {
      background-color: $c-course-tab-bg-hover-color;
      border-bottom: none;
    }
  }

  &__search-toggle {
    position: absolute;
    top: .05rem;
    right: 0;
  }
}
